*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box; 
}

:root{
    --cinza: #d3e2e5;
    --branco: #ffffff;
    --marinho: #4D6F80;
    --cinza-claro: #dfdfdf;
    --back: #D3E2E5;
    --verde: #37C77F;
    --verde-claro: #3EE08F;
    --azul-claro: #B3DAE2;
    --green: #A1E9C5;
    --background:  #24b8d0;
    --red: #d30e0e;
}

h3{
    padding-top: 10px;
}

p{
    font-size: 14px;
    padding-top: 10px;
}

main{
    display: flex;
    background-color: var(--cinza); 
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#container{
    background-color: var(--branco);
    color: var(--marinho);
    width: 400px;
    border-radius: 13px;
    padding-top: 10px;
}

#barra{
    background-color: var(--background);
    width: 60px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

#past{
    background-color: var(--background);
    border: none;
    cursor: pointer;
}

#image1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

form{
    margin: 18px 40px;
}

label{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

input, textarea {
    display: block;
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    border: 1px solid var(--cinza);
    background-color: var(--back);
    resize: none;
}

input:focus, textarea:focus{
    border: 1px solid var(--verde-claro);
    outline: none;
}

#about{
    display: flex;    
}

#about p{
    padding: 5px 15px 0 15px;
}

.box-input p{
    font-size: 10px;
    display: flex;
    align-items: center;
}

#photos{
  display: flex;
  align-items: end;  
}

#contact{
    margin-left: 40px;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 8px;
    padding: 8px;
    border: 2px solid var(--cinza-claro);
    width: 80%;  
    cursor: pointer;  
}

#contact:hover{
    background-color: var(--verde-claro);
}

#tag{
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid var(--cinza-claro);
}

.switch input {
    opacity: 0;
    width: 0; 
    height: 0; 
} 

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cinza);
    -webkit-transition: .4s;
    transition: .4s;    
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: var(--branco);
    -webkit-transition: .4s;
    transition: .4s;
  } 
  
  input:checked + .slider {
    background-color: var(--verde);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--verde);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px); 
    transform: translateX(26px);
}

#past{
    border-radius: 18px;
    padding: 10px;
    background-color: #12AFCB;
    text-align: center;
}

#past:hover{
    background-color: #14bed1;
}

#a{
    color: var(--red);
    font-size: 12px;
    visibility: hidden;
}

.box-input.error #a{
    visibility: visible;
}

@media (max-width: 376px){

    main{
        height: 100%;
    }

    #container{
        width: 300px;
        margin-left: 60px;
        height: 100%;
    }

    input, textarea {
        width: 100%;
        padding: 5px;
    }
}

@media (max-width: 415px){

    #container{
        width: 295px;
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 80%;
    }

    input, textarea {
        width: 100%;
        padding: 2px;
    }
   
}

@media (max-width: 361px){

    body{
        height: 100vh;
    }

    #container{
        height: 95%;
    }
}