*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box; 
}

:root{
    --cinza: #d3e2e5;
    --branco: #ffffff;
    --marinho: #4D6F80;
    --cinza-claro: #dfdfdf;
    --back: #D3E2E5;
    --verde: #37C77F;
    --verde-claro: #3EE08F;
}

main{
    display: flex;
    background-color: var(--cinza); 
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#barra{
    
}

#container{
    background-color: var(--branco);
    color: var(--marinho);
    width: 400px;
    border-radius: 13px;
    padding-top: 20px;
    margin-top: 12px; 
    margin-bottom: 12px;
}

h3{
    margin-left: 40px;
}

p{
    margin-top: 10px;
}

form{
    margin: 18px 40px;
}

label{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input, textarea {
    display: block;
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid var(--cinza-claro);
    background-color: var(--back);
    resize: none
}

#box-input p{
    font-size: 12px;
}

#photos{
  display: flex;
  align-items: end;  
}

button{
    margin-left: 40px;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 8px;
    padding: 8px;
    border: 2px solid var(--cinza-claro);
    width: 80%;  
    cursor: pointer;  
}

button:hover{
    background-color: var(--verde-claro);
}

