*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root{
    --cinza: #d3e2e5;
    --branco: #ffffff;
    --marinho: #4D6F80;
}

p{
    font-size: 17px;
    padding-top: 10px;
}

span{
    font-weight: bold;
}

#body{
    display: flex;
    background-color: var(--cinza); 
}

#container{
    background-color: var(--branco);
    color: var(--marinho);
    margin-left: 400px;
    width: 500px;
    height: 800px;
    border-radius: 13px;
}

#about{
    padding: 20px 25px;
}

#visit{
    padding: 20px 25px;
}

#card{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

#button{
    margin-top: 25px;
    padding-left: 30px;
}