*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root{
    --cinza: #d3e2e5;
    --branco: #ffffff;
    --marinho: #4D6F80;
    --cinza-claro: #dfdfdf;
    --back: #D3E2E5;
    --verde: #37C77F;
    --verde-claro: #3EE08F;
    --azul-claro: #B3DAE2;
    --green: #A1E9C5;
}

p{
    font-size: 17px;
    padding-top: 10px;
}

span{
    font-weight: bold;
}

#body{
    display: flex;
    background-color: var(--cinza); 
    height: 100%;
}

#container{
    background-color: var(--branco);
    color: var(--marinho);
    margin-left: 400px;
    width: 500px;
    border-radius: 13px;
}

#about{
    padding: 20px 25px;
}

#visit{
    padding: 20px 25px;
}

#card{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

#card-green, 
#card-blue{
    width: 200px;
    height: 130px;
    border-radius: 8px;
    padding: 5px;
    padding-top: 50px;
    line-height: 5px;
    border: 2px solid var(--cinza-claro);
    cursor: pointer;
}

#card-green{
    background-color: var(--green);
}

#card-blue{
    background-color: var(--azul-claro);
}

button{
    margin-left: 40px;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 8px;
    padding: 8px;
    border: 2px solid var(--cinza-claro);
    width: 80%;  
    cursor: pointer;  
}

button:hover{
    background-color: var(--verde-claro);
}
