*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box; 
}

:root{
    --blue: #29b6d1 
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    padding: 2rem;
}

#left{
    width: 40%;
    padding: 85px 85px 85px 85px;
}

#text{
    margin-top: 50px;
    color: #FFFFFF;
    font-size: x-large;
    line-height: 55px;
}

#text h1{
    font-size: 62px;
}

#text p{
    font-size: normal;
    line-height: 25px;
    margin-top: 30px;
}

#right{
    width: 60%;
    display: flex;
    justify-content: column;
    color: #FFFFFF;
}

#picture{
    width: 70%;
}

#info{
    width: 30%;
    display: flex;
    align-content: space-between;
    justify-content: center;
}

#localizacao{
    display: flex;
    justify-content: column;
}

#localizacao span {
    font-weight: bold;
}

#mapa{
    margin-left: 10px;
}

#next{
    display: flex;
    align-items:end;
}